/*
 * custom styles
 */

html {
    /* page base colors */
    --page-background-color: #F5F5F5;
    --content-background-color: white;
    --fragment-background-color: #f0f0f0;
    /** font-family */
    --font-family-monospace: 'ui-monospace', 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
}

@media (prefers-color-scheme: dark) {
    html:not(.dark-mode) {
        color-scheme: dark;

        /* page base colors */
        --page-background-color: #111;
        --content-background-color: #222;

        /** font-family */
        --font-family-monospace: 'ui-monospace', 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
    }
}

html {
    scroll-padding-top: 100px;
}

body, table, div, p, dl {
    font-family: var(--font-family-normal);
    font-size: unset;
    line-height: unset;
}

/* @group Heading Levels */

.title {
    font-family: var(--font-family-normal);
    line-height: 28px;
    font-size: 150%;
    font-weight: bold;
    margin: 10px 2px;
}

div.fragment {
    padding: 10px;
    border-radius: 6px;
    margin: 4px 10px;
}

div.line {
    font-size: 14px;
    min-height: unset;
    line-height: unset;

    white-space: pre;
    text-indent: unset;
    padding-left: unset;
}

div.header {
    margin: auto;
    padding: 10px;
    max-width: 1024px;

    background-image: unset;
    background-color: var(--content-background-color);
}

div.contents {
    margin: auto;
    padding: 10px;
    max-width: 1024px;
    background-color: var(--content-background-color);
}

code {
    border-radius: 3px;
    font-size: 13px;
    font-family: var(--font-family-monospace);
    background: var(--fragment-background-color);
    padding: 3px 5px;
}

footer {
    width: 100%;
    height: 90px;
}

footer div {
    padding: 5px 10px;
    text-align: right;
}

div.headertitle .title {
    font-size: 1.7em;
}

#projectname a {
    color: var(--page-foreground-color);
    text-decoration: none;
}

#titlearea {
    padding: 5px 10px;
    box-sizing: border-box;
}

#top {
    position: sticky;
    max-height: 120px;
    top: 0;
}

#nav-path {
    display: none;
}

div.toc {
    box-sizing: border-box;
    margin: 0;
}

@media (max-width: 768px) {
    div.toc {
        float: unset;
        width: 100%;
    }
}

@media (min-width: 769px) {
    div.toc {
        width: 300px;
        margin: 10px;
    }
}

div.toc a {
    font-size: 12px;
}

div.toc li.level3 {
    margin-left: 5px;
}

.SRPage *, .SRPage .SRStatus {
    font-size: 10pt;
}